/* Importing Custom Font  */
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css";
@import "leaflet-defaulticon-compatibility";
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Arial", sans-serif;
}

/* Custom Font Css and their Media Queries */
.text-cardTitle {
  font-size: 24px;
}

.text-cardDescription {
  font-size: 16px;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Swiper navigation arrow overrides */
.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  color: black;
  width: 24px;
  height: 24px;
}

.custom-swiper .swiper-button-prev::after,
.custom-swiper .swiper-button-next::after {
  font-size: 18px;
  font-weight: bold;
}

.custom-swiper .swiper-pagination-bullet {
  background-color: #d0a400 !important;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #d0a400 !important;
}
